<html>
	<head>
		<title>Sekrit Admin Interface</title>
		<style>
table {
	border-collapse: collapse;
}
th {
	padding: 4px 8px;
	width: 12em;
}
td {
	padding: 8;
	border: 1px solid black;
	text-align: center;
}
		</style>
	</head>
	<body>
		<h1>Sekrit Admin Interface</h1>
		<form action="/adminSave" method="POST">
			Change end date: <input type="text" name="endDate" value=""/>
			{{$ass := .Assignments}}
			{{range $week, $days := .Weeks}}
			<div class="week">
				<table>
					<tr>
						<th></th>
						{{range $days}}
						<th>{{index $.DayNames .}}</th>
						{{end}}
					</tr>
					{{range $duty := $.Duties}}
					<tr>
						<th>{{$duty}}</th>
						{{range $day := $days}}
						{{$assignee := (index (index $ass $day) $duty)}}
						<td>
							<input type="text" name="assignee/{{$duty}}/{{$day}}" value="{{$assignee}}"/>
						</td>
						{{end}}
					</tr>
					{{end}}
					</tr>
				</table>
			</div>
			{{end}}
			<input type="hidden" name="oldversion" value="{{.VersionID}}"/>
			<button name="save">Save!</button>
		</form>
	</body>
</html>
