<html>
  <head>
    <script
src="https://code.jquery.com/jquery-3.1.1.min.js"
integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
crossorigin="anonymous"></script>
  <title>Mealplan Signup</title>
  <style>
table {
  border-collapse: collapse;
}
th {
  padding: 4px 8px;
  width: 20em;
}
td {
  padding: 8;
  border: 1px solid black;
  text-align: center;
}
h2 {
  margin:0.5em;
  text-align:center;
}
.note {
  font-size: 1.5em;
  font-style: italic;
}
.week {
  padding: 1em;
}
.week:nth-child(even) {
  background-color: #eeeeee;
}
.usual {
  text-decoration: line-through;
}
.attendance-row > td, .attendance-row > th {
  border: none;
}
.warning {
  color: blue;
  background-color: yellow;
}
  </style>
  <script type="text/javascript">
    var changed = false;
$().ready(function(){
  window.onbeforeunload = function(e) {
    if (changed) {
      var message = "You have unsaved attendance changes. Are you sure you want to leave?";
      e.returnValue = message;
      return message;
    }
  };
  $("input:checkbox").change(function() {
    changed = true;
    $(".save").addClass("warning");
  });
  $("form").submit(function() {
    changed = false;
  });
});
  </script>
  </head>
  <body>
    <h1>IAP Mealplan</h1>
    <p class="note">NOTE: If you'd like to change your assignment, please email <a href="mailto:yfnkm@mit.edu">yfnkm@mit.edu</a> </p>
    {{if .Authorized}}
      <p style="font-style: italic;">Hi, {{.Username}}</p>
    {{else}}
      <p style="font-style: italic;">(Log in with a certificate if you want to claim a slot)</p>
    {{end}}
    <form action="/claim" method="POST">
    {{range $week, $days := .Weeks}}
      <div class="week">
        <table>
          <tr>
            <th></th>
            {{range $days}}
            <th>{{index $.DayNames .}}</th>
            {{end}}
          </tr>
          {{range $duty := $.Duties}}
          <tr>
            <th>{{$duty}}</th>
            {{range $dayindex := $days}}
              <td>
              {{$assignee := (index (index $.Assignments $duty) $dayindex)}}
              {{if $assignee}}
                {{if ne $assignee "_"}}
                <button disabled>{{$assignee}}</button>
                {{end}}
              {{else if $.Authorized}}
              <button name="claim/{{$duty}}/{{$dayindex}}">Claim!</button>
              {{end}}
              </td>
            {{end}}
          </tr>
          {{end}}
          <tr class="attendance-row">
            <th>
              {{if $.Authorized}}
              Will you be at dinner?
              <button name="attends_submit" class="save">SAVE</button>
              {{else}}
              Planned attendance (an underestimate!)
              {{end}}
            </th>
            {{range $dayindex := $days}}
            <td>
              {{if $.Authorized}}
              <input type="checkbox" name="attend/{{$dayindex}}" value="true"
                                                                 {{if (index $.CurrentUserPlannedAttendance $dayindex)}}checked{{end}}/>
              {{end}}
              {{index $.TotalAttendance $dayindex}}
            </td>
            {{end}}
          </tr>
        </table>
      </div>
    {{end}}
    </form>
  </body>
</html>
